
<!DOCTYPE html>
<html>
<head>
<title>Registro</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="{{asset('css/styleIndex.css') }}" />  

<script src="js/jquery-1.11.0.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="
{{ asset('js/move-top.js') }}"></script>
<script type="text/javascript" src="
{{ asset('js/easing.js') }}"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- banner -->
	<div id="home" class="banner-1">
		<div class="header-info">
			<div class="header-info-left">
				<div class="logo">
					<a href="index.html"><img src="{{
     asset('img/logo.jpg') 
  }}" alt="logo" class="img-responsive" alt=""/></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
</div>
<!--/header-banner-->
	<!--start-contact-->
	<div class="contact">
		<div class="container">
			<div class="contact-main">
				<div class="contact-bottom">
					<h3>Registro</h3>
					<div class="contact-text">
                        <form id="registerForm"  action="{{ path('registrarCliente') }}">
						<input type="text" name="name" id="name" placeholder="Nombre" required/>
						<input type="text" name="lastname" id="lastname" placeholder="Apellido" required />
						<input type="text" name="phone" id="phone" placeholder="Teléfono" required />
						<input type="email" name="email" id="email" placeholder="Email" required />
						<input type="text" id="company" name="company" placeholder="Empresa" required />
						<input type="password"  name="password" id="password"s placeholder="Contraseña" required />

                            <button id="btnRegistro">Registrarse</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-contact-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>Beaker 2017</p>
			</div>
		</div>
	</div>

	<script src="/js/Registro.js" async defer></script>
	<!--end-footer-->	 
</body>
</html>